@{
    ViewData["Title"] = "Silinmiş kateqoriyalar";
}
@model List<CategoryDto>

<div class="pagetitle my-3">
    <h1> <i class="ri-delete-bin-7-fill"></i> Silinmiş Kateqoriyalar</h1>

</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">


        <div class="card">
            <div class="card-body">

                @if (Model.Count == 0)
                {
                    <p class="mt-3">Silinmiş kateqoriya hissəsi boşdur</p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Adı</th>
                                <th scope="col">Yaradılıb</th>
                                <th scope="col">Yenilənib</th>
                                <th scope="col">Silinib</th>
                                <th scope="col">Tarix</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>         
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name_Az</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.EditedBy</td>
                                    <td>@item.DeletedBy</td>
                                    <td>@item.DeletedDate</td>
                                    <td>
                                        <a asp-action="RestoreProduct" asp-route-id="@item.Id" class="btn btn-success btn-sm " onclick="return confirm('Kateqoriya bərpa edilsin mi?')">
                                            Bərpa et
                                        </a>
                                        <a asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger btn-sm " onclick="return confirm('Kateqoriya birdəfəlik silinsin mi?')">
                                            Birdəfəlik sil
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                <a asp-action="Index" class="btn btn-link">Geri</a>
                
                <!-- End Default Table  -->
            </div>
        </div>

    </div>
</section>