@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TMS - @ViewData["Title"]</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <link rel="stylesheet" href="css/cstm.css" type="text/css">

    <style>
        .lang-button{
            background: none;
            border: none;
            color: #fff;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/elegant-icons/style.min.css">
    <script nonce="31e94982-7bc7-4e8d-9155-0a648edecb2c">(function (w, d) { !function (bv, bw, bx, by) { bv[bx] = bv[bx] || {}; bv[bx].executed = []; bv.zaraz = { deferred: [], listeners: [] }; bv.zaraz.q = []; bv.zaraz._f = function (bz) { return function () { var bA = Array.prototype.slice.call(arguments); bv.zaraz.q.push({ m: bz, a: bA }) } }; for (const bB of ["track", "set", "debug"]) bv.zaraz[bB] = bv.zaraz._f(bB); bv.zaraz.init = () => { var bC = bw.getElementsByTagName(by)[0], bD = bw.createElement(by), bE = bw.getElementsByTagName("title")[0]; bE && (bv[bx].t = bw.getElementsByTagName("title")[0].text); bv[bx].x = Math.random(); bv[bx].w = bv.screen.width; bv[bx].h = bv.screen.height; bv[bx].j = bv.innerHeight; bv[bx].e = bv.innerWidth; bv[bx].l = bv.location.href; bv[bx].r = bw.referrer; bv[bx].k = bv.screen.colorDepth; bv[bx].n = bw.characterSet; bv[bx].o = (new Date).getTimezoneOffset(); if (bv.dataLayer) for (const bI of Object.entries(Object.entries(dataLayer).reduce(((bJ, bK) => ({ ...bJ[1], ...bK[1] }))))) zaraz.set(bI[0], bI[1], { scope: "page" }); bv[bx].q = []; for (; bv.zaraz.q.length;) { const bL = bv.zaraz.q.shift(); bv[bx].q.push(bL) } bD.defer = !0; for (const bM of [localStorage, sessionStorage]) Object.keys(bM || {}).filter((bO => bO.startsWith("_zaraz_"))).forEach((bN => { try { bv[bx]["z_" + bN.slice(7)] = JSON.parse(bM.getItem(bN)) } catch { bv[bx]["z_" + bN.slice(7)] = bM.getItem(bN) } })); bD.referrerPolicy = "origin"; bD.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(bv[bx]))); bC.parentNode.insertBefore(bD, bC) };["complete", "interactive"].includes(bw.readyState) ? zaraz.init() : bv.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>

<body>

    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/tmslogo.png" alt=""></a>
        </div>
        @*<div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>

        </div>*@
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                @switch (ViewBag.CurrentLang)
                {
                    case "az":
                        <div>AZ</div>
                        break;
                    case "en":
                        <div>EN</div>
                        break;
                    case "ru":
                        <div>RU</div>
                        break;

                }
                <span class="arrow_carrot-down"></span>
                <ul>
                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                        <input type="hidden" name="culture" value="az" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button class="lang-button" type="submit">Azərbaycan</button>
                    </form>
                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                        <input type="hidden" name="culture" value="en" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button class="lang-button" type="submit">English</button>
                    </form>
                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                        <input type="hidden" name="culture" value="ru" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        <button class="lang-button" type="submit">Русский</button>
                    </form>
                    
                </ul>
            </div>

        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a asp-action="Index">@localizer["Home-Page"]</a></li>
                <li><a asp-action="GetOffer">@localizer["Offer"]</a></li>
                <li><a asp-action="GetBrends">@localizer["Brands"]</a></li>
                <li><a asp-action="GetAbout">@localizer["About_Us"]</a></li>

            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>

                <li>@localizer["Top_String"]</li>
            </ul>
        </div>
    </div>


    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>

                                <li>
                                    @localizer["Top_String"]
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">

                                @switch (ViewBag.CurrentLang)
                                {
                                    case "az":
                                        <div>AZ</div>
                                        break;
                                    case "en":
                                        <div>EN</div>
                                        break;
                                    case "ru":
                                        <div>RU</div>
                                        break;

                                }

                                
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                                        <input type="hidden" name="culture" value="az" />
                                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                        <button class="lang-button" type="submit">Azərbaycan</button>
                                    </form>
                                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                                        <input type="hidden" name="culture" value="en" />
                                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                        <button class="lang-button" type="submit">English</button>
                                    </form>
                                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post">
                                        <input type="hidden" name="culture" value="ru" />
                                        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                        <button class="lang-button" type="submit">Русский</button>
                                    </form>
                                    
                                </ul>
                                

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-action="Index"><img src="img/TMS.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a asp-action="Index">@localizer["Home-Page"]</a></li>
                            <li><a asp-action="GetOffer">@localizer["Offer"]</a></li>
                            <li><a asp-action="GetBrends">@localizer["Brands"]</a></li>
                            <li><a asp-action="GetAbout">@localizer["About_Us"]</a></li>

                        </ul>
                    </nav>
                </div>
                @*<div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>

                    </div>
                </div>*@
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>


    <section class="@(ViewBag.IsHomePage ? "hero" : "hero hero-normal")">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>@localizer["Categories"]</span>
                        </div>
                        <ul>
                                    <li>
                                        <div class="dropdown">
                                            <a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-categoryname="Heaters">@localizer["Heaters"]</a>
                                            <div class="dropdown-content">

                                                <div class="dropdown-submenu">
                                                    @foreach (var item in ViewBag.Categories)
                                                    {
                                                        @if (item.Name_EN == "Heaters")
                                                        {
                                                            <a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_EN">
                                                                @item.Subname_AZ
                                                            </a>
                                                            
                                                            <div class="dropdown-submenu-content">
                                                                <a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_EN">@item.SubofSubname_AZ</a>
                                                            </div>

                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Radiators">@localizer["Radiators"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_EN == "Radiators")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                                
                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Water heaters">@localizer["Water_heaters"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_EN == "Water heaters")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
 
                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Pumps">@localizer["Pumps"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_EN == "Pumps")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Pipes & fittings">@localizer["Pipes_fittings"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_AZ == "Pipes & fittings")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            
                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Air_conditioning_equipment">@localizer["Air_conditioning_equipment"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_AZ == "Air_conditioning_equipment")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="dropdown">
                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="Ventilation">@localizer["Ventilation"]</a>
                                    <div class="dropdown-content">

                                        <div class="dropdown-submenu">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                @if (item.Name_AZ == "Ventilation")
                                                {
                                                    <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.Subname_AZ">
                                                        @item.Subname_AZ
                                                    </a>

                                                    <div class="dropdown-submenu-content">
                                                        <a asp-action="GetProductsByCategory" asp-route-categoryname="@item.SubofSubname_AZ">@item.SubofSubname_AZ</a>
                                                    </div>

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form asp-controller="Home" asp-action="Search"  method="get">

                                <input type="text" name="keyword" placeholder="@localizer["Search"]">
                                <button type="submit" class="site-btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+994 70 232 20 12</h5>
                                <span>@localizer["Phone"]</span>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.IsHomePage)
                    {
                        <div class="hero__item set-bg" data-setbg="img/banner.jpg">
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </section>


    <main>
        @RenderBody()
    </main>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/tmslogo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>@localizer["Adress"]</li>
                            <li>+994 70 232 20 12</li>
                            <li>office@tms.az</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <ul>
                            <li><a href="#">@localizer["About_Us"]</a></li>
                            <li><a href="#">@localizer["Brands"]</a></li>
                            <li><a href="#">@localizer["Offer"]</a></li>
                        </ul>



                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <ul>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Heaters">@localizer["Heaters"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Radiators">@localizer["Radiators"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Water heaters">@localizer["Water_heaters"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Pumps">@localizer["Pumps"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Pipes & fittings">@localizer["Pipes_fittings"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Air conditioning equipment">@localizer["Air_conditioning_equipment"]</a></li>
                        <li><a asp-action="GetProductsByCategory" asp-route-categoryname="Ventilation">@localizer["Ventilation"]</a></li>
                    </ul>

                    <a href="#" id="btn-wp"><i class="fa-brands fa-whatsapp" style="color: #25d366;"></i></a>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                &copy; 2023 TMS
                            </p>
                        </div>
                        <div class="footer__copyright__payment">
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer
            src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
            integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
            data-cf-beacon='{"rayId":"7a6cf3bc8f1f0a33","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}'
            crossorigin="anonymous"></script>
</body>

</html>